@model SEELahore2k18.Models.Ambassador

@{
    ViewBag.Title = "Details";
}



<div  style="border:double">
    <h4 style="padding:10px">Ambassador</h4>
    <hr />
    <div class="row" style="padding:20px">
        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.FacebookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookId)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.CNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNIC)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.Institute.Institute1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institute)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.CityOfResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfResidence)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.PreviousExperiance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousExperiance)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.Hostelite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hostelite)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.AmbassadorCategory.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmbassadorCategory.Category)
        </dd></div>

        <div class="col-md-6"><dt>
            @Html.DisplayNameFor(model => model.RequestStatu.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestStatu.Status)
        </dd></div>

        <div class="col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.Why)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Why)
            </dd>
        </div>
        <div class="col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.ExpectationsFromSEE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpectationsFromSEE)
            </dd>
        </div>

    </div>
</div>
    <p style="text-align:center">
        @Html.ActionLink("Back to List", "Index", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-sm btn-info" })
        @Html.ActionLink("Approve", "UpdateStatus", new { id = Model.Id, status = 2 }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
        @Html.ActionLink("Decline", "UpdateStatus", new { id = Model.Id, status = 3 }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
    </p>
