@model IEnumerable<SEELahore2k18.Models.StallRequest>

@{
    ViewBag.Title = "Index";
    int totalCount = Model.Count();
}

<h2>Stall Requests</h2>



<table class="table table-striped" style="text-align:center;border:double" border="1">
    <tr>
        <th>
            Sr. No.
        </th>
        <th>
            @Html.DisplayName("Stall Name")
        </th>
        <th>
            @Html.DisplayName("Stall Details")
        </th>
        <th>
            @Html.DisplayName("Logo")
        </th>
        <th>
            @Html.DisplayName("Created At")
        </th>
        <th>
            @Html.DisplayName("Owner Name")
        </th>
        <th>
            @Html.DisplayName("Contact No")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
       
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Stall Type")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{

    totalCount--;
    <tr>
        <td>
            @totalCount

            <div id="emailModel_@totalCount" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Send Email</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="EmailName" class="pull-left">Name: </label><input type="text" value="@item.OwnerName" id="EmailName_@item.Id" class="form-control" />
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="EmailPhone" class="pull-left">Phone No: </label><input type="text" value="@item.ContactNo" id="EmailPhone_@item.Id" class="form-control" disabled />
                                </div>
                                <div class="col-md-6">
                                    <label for="EmailName" class="pull-left">Email: </label> <input type="text" value="@item.Email" id="EmailTo_@item.Id" class="form-control" disabled />
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="EmailName" class="pull-left">Subject: </label> <input type="text" value="SEE Lahore" id="EmailSubject_@item.Id" class="form-control" />
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="EmailName" class="pull-left">Message: </label>
                                    
                                    <textarea id="EmailBody_@item.Id" class="form-control" style="height:115px!important">Dear @item.OwnerName!
Congratulations your Stall request for SEE Lahore 2k18 has been approved.
                                    </textarea>
                                </div>
                            </div><br />

                        </div>
                        <div class="modal-footer">
                            <img src="/assets/ajax-loader.gif" id="loading-indicator_@item.Id" style="display:none" />
                            <button type="button" class="btn emailFormButton btn-info" onclick="SendSMS(@item.Id)">SMS</button>
                            <button type="button" class="btn emailFormButton btn-success" onclick="SendEmail(@item.Id)">Email</button>
                            <button type="button" class="btn emailFormButton btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StallName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StallDetails)
        </td>
        <td>
            <img src=/UploadedImages/@item.Logo style=height:50px;width:70px />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.RequestStatu.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StallCategory.StallType)
        </td>
        <td>
          
            @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary", @style = "width:90px!important; height:30px!important" }) <br />
            <a href="/Ambassadors/UpdateStatus?id=@item.Id&status=2" class="btn btn-sm btn-primary" style="width:90px!important; height:30px!important">Approve</a><br />
            <a href="/Ambassadors/UpdateStatus?id=@item.Id&status=3" class="btn btn-sm btn-danger" style="width:90px!important; height:30px!important">Decline</a><br />
            <button type="button" class="btn emailFormButton btn-info btn-sm" data-toggle="modal" data-target="#emailModel_@totalCount" style="width:90px!important; height:30px!important">Contact</button>
        </td>
    </tr>
}

</table>



<script>

    function SendSMS(id)
    {
        alert("SMS service is not integrated yet.");
    }

    function SendEmail(id)
    {
        $('#loading-indicator_' + id).show();
        $(".emailFormButton").attr("disabled", true);
        $.ajax({
            url: "/Email/SendEmail",
            type: 'POST',
            data: { EmailSubject: $('#EmailSubject_' + id).val(), EmailBody: $('#EmailBody_' + id).val(), EmailTo: $('#EmailTo_' + id).val(), EmailName: $('#EmailName_' + id).val() },
            success: function (result) {
                $('#loading-indicator_' + id).hide();
                $(".emailFormButton").attr("disabled", false);
                alert(result);
            },
            error: function () {
                $('#loading-indicator_' + id).hide();
                $(".emailFormButton").attr("disabled", false);
                alert("error");
            }
        });
    }

</script>