@model SEELahore2k18.Models.RegistrationDeadLine



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>RegistrationDeadLine</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RegistrationType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegistrationType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.From)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.From)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.To)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.To)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
